#main {
	text-align: center;
	margin-top: 150px;	

}

body {
background: #F3F2FA;

}

/*img {
	 position: fixed;
	 margin-left: 300px;

}*/



.profile-content .social a {
  /*background: rgba(255, 255, 255, 0.5);*/
  width: 35px;
  height: 35px;
  display: inline-block;
 /* border-radius: 60%;*/
  text-align: center;
  color: black;
  
}


.profile-content .social a:hover {
  /*background: #8166FF;*/
  color: #8166FF;
}

.profile-content .social a .fa{
  font-size: 25px;
  padding-top: 9px;

}


h1 {
    font-family: 'BebasNeue', sans-serif;
    font-size: 90px;
    color: #8166FF;
    text-align: center;

}

p {
	text-align: center;
	font-family: 'BebasNeueBook';
	font-size: 25px;
	color: black; 

}

@font-face {
    font-family: 'BebasNeue';
    src: url('bebasneue-webfont.eot');
    font-weight: normal;
    font-style: normal;

}






